.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.section__btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    margin-top: 25vh;
}

.btn__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
    }
}

.btn__chat {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    transition: 0.1s all ease-in-out;

    svg {
        width: 2em;
        color: #fff;
    }

    &:active {
        top: -0.5px;
        bottom: -1px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }
}

.btn__newChat {
    background-color: #3CB371;

    &:hover {
        background-color: lighten($color: #3CB371, $amount: 5);
    }
}


.btn__connectChat {
    background-color: #0790FA;
}